<launch>
    <rosparam command="load" file="$(find det_perception_core)/config/calib/sensor_config.yaml"/>

    <group ns="cam_0">
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="serial_no"             value="938422075179"/>
            <arg name="tf_prefix"             value="$(arg cam)"/>
            <arg name="initial_reset"         value="false"/>
            <arg name="reconnect_timeout"     value="6.0"/>
            <arg name="enable_pointcloud"     value="false" />
            <arg name="enable_depth"          value="true" />
            <arg name="enable_confidence"     value="false" />
            <arg name="color_width"           value="1920" />
            <arg name="color_height"          value="1080" />
            <arg name="color_fps"             value="30" />
            <arg name="enable_color"          value="true" />
        </include>
    </group>

    <group ns="lidar_0">
        <include file="$(find livox_ros_driver)/launch/livox_lidar_rviz.launch">
            <arg name="bd_list" default="0TFDJBF001W2TW1"/>
            <arg name="rviz_enable"           value="false"/>
        </include>
    </group>

    <node name="colorization" pkg="det_perception_core" type="colorization" output="screen">
        <param name="cam" value="$(arg cam)" />
        <param name="lidar" value="$(arg lidar)" />
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args=
    "-d $(find det_perception_core)/config/rviz/colorization.rviz"/>

</launch>
